:root {
 /****************  Colors ***************/

  /********** Primary **********/
  
    --orange: hsl(25, 97%, 53%);
    --orange-alpha: hsla(25, 97%, 53%,0.6);

  /**********  Neutral ***********/

    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --light-grey-alpha: hsla(217, 12%, 63%, 0.1);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
   
 /************** Sizes ***************/
  
    --S-30: 1.875rem;
    --S-29: 1.8125rem;
    --S-25: 1.5625rem;
    --S-24: 1.5rem;
    --S-23: 1.4375rem;
    --S-21: 1.3125rem;
    --S-19: 1.1875rem;
    --S-15: 0.9375rem;
    --S-14_5: 0.91rem;
    --S-14: 0.875rem;
    --S-12: 0.75rem;
    --S-08: 0.5rem;
}
   
 /************ General Style ***********/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Overpass", sans-serif;
    font-size: var(--S-14);
    font-weight: 400;
    font-style: normal;
    background-color: var(--very-dark-blue);
    color: var(--white);
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
    
}
   /********** request container  **********/

.request {
    position: absolute;
    z-index: 1;
    width: 87%;
    max-width: 410px;
    border-radius: 15px;
    padding: var(--S-30) var(--S-23) var(--S-29);
    background-color: var(--dark-blue);
}

.request__icon-container {
    width: max-content;
    margin-bottom: var(--S-25);
    border-radius: 50%;
    padding: var(--S-08);
    background-color: var(--light-grey-alpha);
    filter: brightness(1.2);
}
    
.request__icon {
    max-width: 100%;
}

.request__title {
    font-size: var(--S-21);
    font-weight: 700;
    margin-bottom: var(--S-19);
}

.request__paragraph {
    margin-bottom: var(--S-25);
    line-height: 1.5;
    color: var(--light-grey);
}

.request__rate {
    font-size: var(--S-12);
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--S-21);
}

.request__number {
    width: 45px;
    text-align: center;
    border-radius: 50%;
    padding: var(--S-14_5);
    background-color: var(--light-grey-alpha);
    color: var(--light-grey);
    filter: brightness(1.1);
    transition: all 0.3s;
}

.request__number:hover {
    background-color: var(--orange);
    color: var(--very-dark-blue);
    cursor: pointer;
}

.active {
    background-color: var(--white);
    color: var(--very-dark-blue);
}

.request__submit {
    width: 100%;
    border: none;
    border-radius: 30px;
    padding: var(--S-14_5);
    font-size: var(--S-14);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--orange);
    color: var(--very-dark-blue);
}

.request__submit:hover {
    background-color: var(--white);
    cursor: pointer;
}

.send {
    z-index: -1;
}
    
/********** answer container **********/

.answer {
    position: absolute;
    width: 88%;
    max-width: 425px;
    border-radius: 15px;
    padding: var(--S-30) var(--S-24);
    text-align: center;
    background-color: var(--dark-blue);
}

.answer__image {
    width: 143px;
    height: 102px;
    margin-bottom: var(--S-21);
}

.answer__title {
    font-size: var(--S-21);
    font-weight: 700;
    margin-bottom: var(--S-21);
}

.answer__paragraph {
    line-height: 1.5;
    color: var(--light-grey);
}

.answer__paragraph--result {
    width: max-content;
    margin: auto;
    margin-bottom: var(--S-25);
    border-radius: 15px;
    color: var(--orange-alpha);
    padding: var(--S-08) var(--S-14_5);
    background-color: var(--light-grey-alpha);
}
    
    

